

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
@model LoginViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/alela/css/custom.min.css" rel="stylesheet" />

</head>

<body class="login">
    <div>
       
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-controller="Auth" asp-action="Login" method="post">
                        <h1>Login</h1>
                        <div>
                            <input asp-for=Email  class="form-control email" name="email" required="required" type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input asp-for=Password type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        @if (TempData["msg"] != null)
                        {
                            <div class=" text-danger">@TempData["msg"]</div>
                        }
                        <div>
                            <button type="submit" class="btn btn-secondary">Login</button>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a asp-area="" asp-controller="Auth" asp-action="Register" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>

</body>
</html>


